@font-face {
    font-family: 'Czcionka';
    src: url('Itim-Regular.ttf');
}
nav {
    top: 0;
    left: 0;
    width: 90%; 
    height: 72px; 
    background: #1E1E1E; 
    border-radius: 100px; 
    margin-top: 15px;
    position: fixed;
    margin-left: 5%;
}
img.logo {
    width: 90px;
    height: 90px;
}
nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: center;
}
nav li a {
    display: block;
    color: #AB0090;
    font-family: Czcionka;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}