@font-face {
    font-family: 'Czcionka';
    src: url('Itim-Regular.ttf');
}
body {
    background-image: url('tlo.png');
    margin: 0;
}
.galeria1 {
    margin-top: 13%;
    background-color: #1E1E1E;
    text-align: center;
}
.zdjecie1 {
    width: 20%;
}
nav {
    top: 0;
    left: 0;
    width: 90%;
    height: 72px;
    background: #1E1E1E;
    border-radius: 100px;
    margin-top: 15px;
    position: fixed;
    margin-left: 5%;
}
img.logo {
    width: 70px;
    height: 70px;
    margin-left: 2%;
    margin-top: 2px;
}
img.tlo {
    width: 106%;
    height: 106%;
    margin-left: -5%;
    margin-top: -5%;
}
nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: center;
}
nav li a {
    display: block;
    color: #e550ff;
    font-family: 'Czcionka';
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
}
a.nav1 {
    margin-top: -68px;
    margin-left: 20%;
}
a.nav2 {
    margin-top: -51px;
    margin-left: 40%;
}
a.nav3 {
    margin-top: -51px;
    margin-left: 60%;
}
a.nav4 {
    margin-top: -50px;
    margin-left: 80%;
}
