@font-face {
    font-family: 'Czcionka';
    src: url('Itim-Regular.ttf');
}
body {
    background-image: url('tlo.png');
    margin: 0;
}
section.galeria {
    text-align: center;
    z-index: 2;
}
.faqtext {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 140px;
    font-family: 'Czcionka';
    color: #c0c0c0;
    font-size: 20px;
}
.przedzial {
    background-color: #212529;
    height: 100px;
    margin-top: 700px;
    z-index: 6;
}
.tlo {
    background-color: #2B2E33;
    height: 1000px;
    z-index: 1;
}
.faq {
    background-color: #1E1E1E;
    position: absolute;
    z-index: 2;
    border-radius: 10px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Czcionka';
    color: #e550ff;
}
button {
    background: none;
    border: none;
    position: absolute;
}
.lewo {
    z-index: 1;
    margin-top: -310px;
    margin-left: -500px;
    position: absolute;
}
.lewo:hover {
    margin-top: -311px;
    margin-left: -501px;
    width: 50px;
}
.prawo {
    z-index: 1;
    margin-top: -310px;
    margin-left: 450px;
    position: absolute;
}
.prawo:hover {
    margin-top: -311px;
    margin-left: 449px;
    width: 50px;
}
.galeria1 {
    background-color: #1E1E1E;
    text-align: center;
    width: 300px;
    height: 345px;
    padding: 15px;
    border-radius: 15px;
    position: absolute;
    top: 350px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}.galeria1:hover {
    width: 305px;
    height: 350px;
}
.zdjecie1 {
    width: 100%;
    border-radius: 15px;
}
.galeria2 {
    background-color: #1E1E1E;
    text-align: center;
    width: 200px;
    height: 230px;
    padding: 15px;
    border-radius: 15px;
    position: absolute;
    top: 185px;
    left: 75%;
    margin-right: -25%;
    transform: translate(-75%, -25%);
    margin-top: 110px;
}
.galeria2:hover {
    width: 205px;
    height: 235px;
}
.zdjecie2 {
    width: 100%;
    border-radius: 15px;
}
.galeria3 {
    background-color: #1E1E1E;
    text-align: center;
    width: 200px;
    height: 230px;
    padding: 15px;
    border-radius: 15px;
    position: absolute;
    top: 550px;
    left: 25%;
    margin-right: -75%;
    transform: translate(-25%, -75%);
    margin-top: -120px;
}
.galeria3:hover {
    width: 205px;
    height: 235px;
}
.zdjecie3 {
    width: 100%;
    border-radius: 15px;
}
nav {
    top: 0;
    left: 0;
    width: 90%;
    height: 72px;
    background: #1E1E1E;
    border-radius: 100px;
    margin-top: 15px;
    position: fixed;
    margin-left: 5%;
    z-index: 5;
}
img.logo {
    width: 70px;
    height: 70px;
    margin-left: 2%;
    margin-top: 2px;
    position: absolute;
}
img.tlo {
    width: 106%;
    height: 106%;
    margin-left: -5%;
    margin-top: -5%;
}
nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: center;
}
nav li a {
    display: block;
    color: #e550ff;
    font-family: 'Czcionka';
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    margin-top: 8px;
}
nav li a:hover {
    color: #7f248f;
}
a.nav1 {
    margin-left: 55%;
}
a.nav2 {
    margin-left: 70%;
}
a.nav3 {
    margin-left: 78%;
}
a.nav4 {
    margin-left: 90%;
}